<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
  <title>{{filename|default("editor")}}</title>
  <style>
    #contents {
      display: flex;
      flex-direction: column;
      position: absolute; left: 0; right: 0; top: 0; bottom: 0;
    }
    #editor_div {
      flex-grow: 1; /* let it grow vertically to fill available space */
        /* flex: 1 0 auto; */
      /* background: greenyellow; */
      /* max-height: 100%; */
      overflow: auto;
      position: relative;
    }
    #editor {
        max-height: 100%;
        position: absolute; left: 0; right: 0; top: 0; bottom: 0;
    }
    /* #footer {} */
  </style>
</head>
<body>
    <div id="contents">
        <div id="editor_div">
            <div id="editor">{{text}}</div>
        </div>
        <div id="footer">
          <select id="mode"><option value="">&mdash;</option><option{%if ext.lower()==".md" %} selected{%endif%}>Markdown</option><option{% if ext.lower()==".py" %} selected{%endif%}>Python</option><option{% if ext.lower()==".js"%} selected{%endif%}>Javascript</option><option{% if ext.lower()==".css" %} selected{%endif%}>CSS</option><option{% if ext.lower()==".html" or ext.lower() == ".htm"%} selected {%endif %}>HTML</option><option{% if ext.lower()==".json"%} selected{%endif%}>JSON</option><option{% if ext.lower()==".xml" or ext.lower()==".svg" or ext.lower()==".rss"%} selected{% endif %}>XML</option></select>
          <label><select id="tabselect"><option{% if use_spaces %} selected {%endif%}>spaces</option><option{% if not use_spaces %} selected {%endif%}>tab</option></select></label>
          <label><input type="input" id="tabsizeinput" value="4" size="2"></label>
          <label><input type="checkbox" id="showwhitespacetoggle" checked>whitespace</label>
          <label><input type="checkbox" id="linewraptoggle" checked>wrap</label>
          <label><input type="checkbox" id="linenumberstoggle" checked>line numbers</label>
          <button id="save">save</button>
          <select id="fontsize"><option>12px</option><option>14px</option><option selected>16px</option><option>18px</option><option>20px</option><option>22px</option><option>24px</option></select>
        </div>
    </div>
<script src="{{baseurl}}__/codemirror/cmeditor.js"></script>
<script>
  let save = document.getElementById("save");
  let linewraptoggle = document.getElementById("linewraptoggle");
  let linenumberstoggle = document.getElementById("linenumberstoggle");
  let showwhitespacetoggle = document.getElementById("showwhitespacetoggle");
  let tabsizeinput = document.getElementById("tabsizeinput");
  let tabselect = document.getElementById("tabselect");
  let mode = document.getElementById("mode");
  let fontsize = document.getElementById("fontsize");

  fontsize.addEventListener("change", () => {
    console.log("fontsize:", fontsize.value);
    document.body.style.fontSize = fontsize.value;
  });

  let editor = cmeditor.init(document.getElementById("editor"), linewraptoggle.checked, mode.value, showwhitespacetoggle.checked, tabsizeinput.value, use_spaces=tabselect.value == "spaces", line_numbers=linenumberstoggle.checked);
  linewraptoggle.addEventListener("change", () => {
    // console.log("wrap", linewraptoggle.checked )
    editor.setLineWrap(linewraptoggle.checked);
  });
  linenumberstoggle.addEventListener("change", () => {
    editor.setLineNumbers(linenumberstoggle.checked);
  });
  showwhitespacetoggle.addEventListener("change", () => {
    editor.setShowWhitespace(showwhitespacetoggle.checked);
  });
  tabsizeinput.addEventListener("change", () => {
    editor.setTabSize(tabsizeinput.value);
  });
  mode.addEventListener("change", () => {
    console.log("mode.change", mode.value )
    editor.setMode(mode.value);
  });
  tabselect.addEventListener("change", () => {
    editor.setUseSpaces(tabselect.value=="spaces");
  });
  function do_save () {
    let text = editor.getText();
    console.log("save", text);
    save_text_file(text, filename);
  }
  save.addEventListener("click", () => {
    do_save();
  });

  function parent (url) {
    let u = new URL(url);
    let p = u.pathname.trim("/");
    u.pathname = u.pathname.split("/").slice(0,-1).join("/") + "/";
    u.search = "";
    return u.toString();
  }

  // https://developer.mozilla.org/en-US/docs/Web/API/File/File
  // https://developer.mozilla.org/en-US/docs/Web/API/FormData
  // https://developer.mozilla.org/en-US/docs/Web/API/FormData/Using_FormData_Objects
  let filename = {{filename|tojson()}};
  
  function save_text_file (text, filename) {
    const file = new File([text], filename, {
      type: "text/plain",
    });
    let formdata = new FormData();
    formdata.append("file", file);
    formdata.append("action", "upload");
    fetch(parent(window.location), {
      method: "post",
      body: formdata
    }).catch((error) => {
      console.log("Error saving", error);
    }).then((result) => {
      console.log("Result", result);
    })
  }

  window.addEventListener("keydown", e=>{
    if (e.ctrlKey && e.key=="s") {
      e.preventDefault();
      do_save();
    }
  })
</script>
</body>
</html>
