<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
  <title>{{name}}</title>
  <style>
    body {
        font-size: 24px;
    }
    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    form.rename_delete {
        margin-left: 1em;
    }
    details summary {
        list-style: none;
        display: flex;
    }
    span.icon {
        margin-right: 0.4em;
        cursor: pointer;
    }
    .redlink {
        color: gray;
    }
  </style>
</head>
<body>
<h1>{% for crumb in breadcrumbs %}<a href="{{crumb.url}}">{{crumb.name}}</a>/{% endfor %}{{name}}</h1>

{% for f in children %}
<div><details>
    <summary>
        {%- if not f.dir -%}
            {% if f.binary %}
            <span class="icon" title="rename/delete">📄</span><a href="{{f['@id']}}"{% if f.redlink %} class="redlink"{%endif%}>
            {%- else -%}
            <span class="icon" title="rename/delete">📝</span><a href="{{f['@id']}}"{% if f.redlink %} class="redlink"{%endif%}>
            {%- endif -%}
        {%- else -%}
        <span class="icon" title="rename/delete">📁</span><a href="{{f['@id']}}">
        {%- endif -%}
        {{f.name}}</a>&nbsp;
        {% if not f.redlink and not f.dir and not f.binary %}<a href="{{f['@id']}}?edit" target="edit"><span class="icon" title="edit">✏️</span></a>{% endif %}
    </summary>
    <form method="post" class="rename_delete">
        <input type="text" name="newname" value="{{f.name.rstrip('/')}}" />
        <input type="hidden" name="oldname" value="{{f.name}}" />
        <input type="submit" name="action" value="rename" />
        <input type="submit" name="action" value="delete" />
    </form>
</details></div>
{% endfor %}

<p>
    <details>
        <summary>➕</summary>
        <form method="post" accept-charset="utf-8" enctype="multipart/form-data">
            <label><input id="file" name="file" type="file" multiple /></label>            
            <input type="submit" name="action" value="upload"/>
        </form>
        <form method="post"> 
            <input type="text" name="newname" placeholder="untitled"/>
            <input type="submit" name="action" value="new file">
            <input type="submit" name="action" value="new folder">
        </form>
    
    </details>    
</p>

<p class="makefile">
    {% if makefile_discovery and makefile %}
        {% if makefile_edit_link %}<a href="{{makefile_edit_link}}">{{makefile}}</a>{% else %}{{makefile}}
        {%endif%}
        {{makefile_cwd}}
        {% else %}
        no makefile
    {% endif %}
</p>

<details>
    <summary>log</summary>
    <iframe src="{{baseurl}}__/log/" loading="lazy" style="background: rgb(238, 238, 238); width: 100%; height: 10em; border: none;"></iframe>
</details>
