<!DOCTYPE html>
<head>
<meta charset="UTF-8"> 
<title>makeserver: log</title>
<style>
body {
    font-family: monospace;
}
</style>
</head>
<body>
<pre id="log"></pre>
<div><button id="clear">clear</button></div>
</body>
<script>
let log = document.getElementById("log");
let clear_button = document.getElementById("clear");
clear_button.addEventListener("click", e=>{
    log.innerHTML = "";
})
const WS_URL_PATH = '{{baseurl}}__/log/ws';
    function init(ws_url) {
    let ws = new WebSocket(ws_url);
    ws.onopen = function(event) {
        ws.send(JSON.stringify(["init", window.innerHeight, window.innerWidth]));
        ws.onmessage = function(event) {
            let msg = JSON.parse(event.data);
            // console.log("message", msg);
            if (msg.type == "stdout") {
                let div = document.createElement("div");
                div.innerText = msg.line;
                log.appendChild(div);
                window.scrollTo(0, document.body.scrollHeight);            
            }
        };
    };
}
window.onload = function() {
    var protocol = (window.location.protocol.indexOf("https") === 0) ? "wss" : "ws";
    var ws_url = protocol + "://" + window.location.host + WS_URL_PATH;
    init(ws_url);    
};
</script>
</html>
